version: '3.8'
services:
  nextjs:
    build: .
    ports:
      - "1680:3000"
    environment:
      - NODE_ENV=production
    restart: always
    networks:
      - webnet
networks:
  webnet:
    driver: bridge
